*{
    box-sizing: border-box;
}

/*Felles HTML starter her*/

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#global-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#search-bar {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin-top: 2rem;
    border-radius: 20px;
    padding-right: 40px; 
}

#search {
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 8px;
}

#search-button {
    position: absolute;
    right: 8px; 
    top: 0; 
    bottom: 0; 
    margin: auto 0; 
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 4px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; 
}

#global-nav{
    display: flex;
    flex-direction: column;
    align-items: center;


    ul{
        list-style: none;
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 0.8rem;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
        }

        a{
            text-decoration: none;
            color: black;
        }
    }

    #logo{
        font-size: 2rem;
        font-weight: 750;
        text-decoration: none;
        color: black;
        padding: 0.5rem;
    }
}

#profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin-top: 0;

        a{
            text-decoration: none;
            margin: 0.5rem;
            font-size: 1.2rem;
        }
    }
}

i.fa-regular {
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

i.fa-solid {
    color: rgb(0, 0, 0); 
    -webkit-text-stroke: none;
}


#global-footer {
    display: grid;
    grid-template-columns: 1fr auto; 
    gap: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    border-top: solid #d6d6d6;
    margin-top: 2rem;

    #footer-logo{
        grid-column: span 2; 

        h3{
            margin: 0;
            font-size: 2rem;
            font-weight: 7;
            margin-top: 3rem;
        }
    }

    h4{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 10;
    }

    #contact{
        p i{
            padding-right: 1rem;
        }
    }

    #shortcuts nav ul{
        padding-left: 0;
            
            li{
                text-decoration: none;
                list-style: none;
                padding: 0.3rem;
    
                a{
                    color: black;
                    text-decoration: none;
                }
            } 
        
    }

    #social-media ul{
        display: flex;
        padding: 0;
        margin: 1.5rem;
        margin-left: 0;
        gap: 1rem;
        list-style: none;

        li a{
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            padding-right: 1rem;
        }
    }
}

/*Felles HTML slutter her*/

/*Index.html starter her*/

#banner-container { /*Spørre om dette er responsivt nok*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#banner {
    display: flex;
    flex-direction: column;
    width: 100%;

    article{
        position: relative;
        display: none;
        width: 100%;
        padding: 1rem;
        overflow: hidden;

        picture{
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;

            img{
                display: block;
                width: 100%;
                height: 600px;
                border-radius: 30px;
            }
        }
    }
}

#banner article:first-child {
    display: block; 
}

#banner article h2, #banner article p, #banner article button {
    position: absolute;
    padding-right: 1rem;
    right: 5%;
    max-width: 40%;
    text-align: right;
}

#banner article h2 {
    top: 5%;
    font-size: calc(1.5rem + 1vw);
}

#banner article p {
    top: 52%;
    font-size: calc(0.8rem + 0.5vw);
}

#banner article button {
    top: 80%;
    border-radius: 50px;
    margin-right: 1rem;
    padding: 0.6rem;
    background-color: #ffff;
    border: none;
    cursor: pointer;  
}

#popular-products{
    text-align: center;

    h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2rem;
    }
    
    p{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    #special-price, #best-sellers{
        display: inline-flex;
        flex-direction: row;
        text-align: center;
        background-color: #ffff;
        border-radius: 50px;
        border: 1px solid #9b9797;
        padding: 1.1rem;
        max-width: 30%;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        cursor: pointer;
    }

    #new-product:hover, #special-price:hover, #best-sellers:hover{ /*Fjerne dette på mobile?*/
        background-color: grey;
        color: white;
    }

    #new-product{
        display: inline-flex;
        flex-direction: row;
        text-align: center;
        border-radius: 50px;
        border: 1px solid #9b9797;
        padding: 1.1rem;
        max-width: 30%;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        background-color: #363434;
        color: white;
        border: none;
        cursor: pointer;
    }
}

.product-card{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}
.product-card picture{
    display: block;
    position: relative; 
    padding: 1rem; 
    width: 100%;
}

.product-card img {
    display: block;
    border-radius: 20px;
    width: 100%;
    height: auto; 
}

.product-card button {
    position: absolute;
    top: 25px; 
    right: 25px; 
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 25px;
    color: #fff;
    background-color: rgba(203, 203, 203, 0.767);

    i{
        color: transparent;
        -webkit-text-stroke: 2px white; 
    }
}

.product-card .header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-card a{
    text-decoration: none;
    color: inherit;
}
.product-card h3 {
    margin: 1rem;
}

.product-card .price {
    margin: 1rem;
}

.product-card .rating {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin: 1rem;
    font-weight: bold;
    font-size: 15px;
    
    i{
        padding: 4px;
    }
}

#popular-categories{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1.5rem;
    text-align: center;

    h2{
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    p{
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }
}

#popular-categories article {
    display: grid;
    position: relative;
    /* width: calc(100%-2rem); */
    height: 350px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 25px;
    margin: 0.8rem;
    align-items: center;

    h3{
        position: relative;
        z-index: 1;
        color: #fff;
        font-size: 2rem;
        text-align: center; 
    }
}

#popular-categories article::after{ /*Hentet fra ChatGPT 12.11.24 */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: 0;
    pointer-events: none; 
}

#category1::after{
    background-image: url('../img/front-page/categories/coffe.jpg');
    /*Image by <a href="https://pixabay.com/users/freephotocc-2275370/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1280537">Free Photos</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1280537">Pixabay</a>*/
}

#category2::after{
    background-image: url('../img/front-page/categories/woman.jpg');
    /*Image by <a href="https://pixabay.com/users/jupilu-9196359/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7841725">Jupi Lu</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7841725">Pixabay</a>*/
}

#category3::after{
    background-image: url('../img/front-page/categories/swan.jpg');
    /*Image by <a href="https://pixabay.com/users/pen_ash-5526837/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8640045">Penny</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8640045">Pixabay</a>*/
}

#category4::after{
    background-image: url('../img/front-page/categories/winter.jpg');
    /*Image by <a href="https://pixabay.com/users/level_up_filming-18696359/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8578334">Jason</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8578334">Pixabay</a>*/
}

#category5::after{
    background-image: url('../img/front-page/categories/bean.jpg');
    /*Image by <a href="https://pixabay.com/users/zimt2003-5558721/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8451254">Petra Göschel</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8451254">Pixabay</a>*/
}

#reviews{
    padding: 1rem;

    h2{
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: start;
    }

    article{
        flex: 0 0 auto; /*Denne linjen er hentet fra ChatGPT 12.11.24*/
        width: 300px;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 15px;
        padding: 1rem;
        margin-bottom: 3rem;
        position: relative;

        h3{
            margin: 6rem 0 0 0; 
            font-size: 1.2rem;
        }

        p{
            font-size: 1rem;
            padding-top: 0.3rem;
            
        }
    }
}

#reviews-container{
    display: flex;
    overflow: auto; 
    gap: 1rem;
}

.profile-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 1rem;
    left: 1rem;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*Index.html slutter her*/
/*products.html starter her*/

.breadcrumb{
    display: flex;
    align-items: flex-start;

    ol{
        display: flex;
        list-style: none;
        padding: 0;
        margin-bottom: 2rem;

        li{
            display: flex;
            align-items: center;
            padding: 0.5rem;

            #bold{
                font-weight: bold;
            }

            a{
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

#product-images{
    display: flex;
    gap: 1rem; 
    align-items: stretch;
    max-width: 100%;

    .mini-image{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0.5rem;
        gap: 1rem; 
        flex: 0 0 30%; /*Kilde: https://developer.mozilla.org/en-US/docs/Web/CSS/flex*/
        height: auto; 

        picture{
            flex-grow: 1;

            img{
                width: 100%;
                height: auto;
                max-width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;  
            }
        }
    }

    .main-image{
        display: flex;
        flex: 0 0 70%; 
        align-items: stretch;
        margin-right: 1rem;

        picture img{
            width: 100%;
            height: 99%; 
            max-width: 85%
        }
    }

}

#product-info{
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    h3{
        font-size: 1.4rem;
        margin-bottom: 0.7rem;
    }

    a{
        color: grey;
        text-transform: uppercase;
        font-weight: 1;
        font-size: 1rem;
        
    }
}

#size{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; 
}

#size-box{
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc; 
    border-radius: 0.25rem; 
    font-size: 1rem;
    background-color: #f5f5f5; 
}

#product-actions{
    display: flex;
    gap: 1rem; 
    align-items: center;
    margin-bottom: 3rem;

    button{
        padding: 1rem;
        border: none;
        cursor: pointer;
        font-size: 1rem;
    }
}

#shopping-cart{
    background-color: black;
    color: white;
    width: 100%;
}

#wishlist{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem !important;
    border: 1px solid #000000 !important;
    background-color: white;

    i{
        font-size: 1.5rem;
    }
}

section details{
    border-top: 1px solid #000000; 
    padding: 2rem;

    summary{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
        margin: 0;
    }
}

section details ul, section details p, section details table, section details article{
    margin-top: 1rem;
}

section details ul{
    padding-left: 1rem;

    li{
        margin-bottom: 0.5rem;
    }
}

#product-review{
    border: 1px solid #cecece; 
    border-radius: 0.6rem; 
    padding: 1rem; 
    margin-bottom: 1rem;
    margin-top: 1.3rem; 

    h4{
        margin: 0;
    }
}

#similar-products{
    margin: 1.5rem;

    a{
        text-decoration: none;
    }
}

.product-container-slider {
    display: flex;
    gap: 1rem;
    overflow-x: auto; 
    padding-bottom: 1rem; 

    article{
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 0 0 calc(70% - 1rem); 
        border-radius: 20px;
        max-width: 320px; 

        picture{
            width: 100%;
            padding-top: 100%; 
            position: relative;
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; 
            border-radius: 20px; 
        }

        button{
            position: absolute;
            top: 6px;
            right: 6px;
            background-color: rgba(203, 203, 203, 0.767);
            border: none;
            border-radius: 50%;
            padding: 0.5rem;
            cursor: pointer;
        }
    }

    .rating {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;

        i{
            margin-right: 0.5rem; 
        }

        i.fa-regular {
            color: transparent;
            -webkit-text-stroke: 1px black;
        }
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
    }

    i.fa-regular {
        color: transparent;
        -webkit-text-stroke: 2px #ffff;
    }
}

    /*Product.html slutter her*/

    /*Checkout.html starter her*/

    #return-index{
        margin-bottom: 1rem;
        margin-left: 1rem;

        a{
            color: blueviolet;
            text-decoration: none;
            font-size: 1rem;
            display: flex;
            align-items: center;
        }

        i{
            color: blueviolet;
            margin-right: 1rem;
        }
    }
      
    #checkout-title h2{
        text-align: center;
        margin-bottom: 3rem;
        font-size: 2rem;
    }
    
    #shopping-bag{
        margin: 1rem;
        border: 1px solid #ccc;

        h2{
            margin-left: 1rem;
            text-transform: uppercase;
        }
    }

    .product-item {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    
    .product-item-image img{
        max-width: 100%;
        height: auto;
        width: 60%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        margin-left: 1rem;  
    }
    
    .product-checkout-info{
        margin-left: 3rem;

        h3{
            margin-top: 2rem;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        p{
            margin: 0;
        }
    }

    .color{
        margin-bottom: 1.5rem !important;
    }

    .size, .quantity{
        padding: 0.6rem;
        border: 1px solid #ccc;
        width: auto;
        max-width: 80px;
    }
    
    label[for^="quantity-"]{ /*Hentet fra ChatGPT 18.11.24. For å targette alle quantity verdiene.*/
        padding-left: 1rem;
    }

    .icon-container{
        margin: 3.5rem 0 1.5rem 3rem;
        font-size: 1.4rem;

        i{
            padding: 0.3rem;
            cursor: pointer;
        }

        i.fa-regular{
            -webkit-text-stroke: 2px black;
        }
    }

    #customer-info{
        margin: 1rem;

        h3{
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-bottom: 3rem;
        }
        
        form{
            margin: 0 auto;
            margin-bottom: 1.5rem;
            padding: 1rem;
            border: 1px solid #ccc;
        }
        
        fieldset{
            border: none; 
            margin-bottom: 2rem;
            padding: 0;
        }
        
        legend{
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
        }
        
        label{
            display: block;
            margin-bottom: 0.3rem;
        }
        
        input[type="text"], input[type="number"], [type="date"], input[type="email"], input[type="tel"]{
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 1rem;
        }

        #poststed{
            margin-bottom: 3rem;
        }
        
        .form-buttons{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        button[type="submit"]{
            background-color: #4b4a4a;
            color: white;
            padding: 1rem 7.5rem;
            border: none;
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        
        a.cancel{
            text-align: center;
            color: blue;
        }
     
        
        #delivery{
            legend{
                font-size: 1.5rem;
                text-transform: uppercase;
            }

            h4{
                text-transform: uppercase;
                font-size: 1rem;
            }


            
            .delivery-option{
                border: 1px solid #ccc;
                padding: 1rem;
                margin-bottom: 1rem;
            }
            
            .delivery-option label{
                display: block;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
            
            .delivery-option input[type="radio"]{
                margin-right: 0.5rem;
            }
            
            .delivery-option p{
                margin: 0.5rem 0;
            }
            
            .delivery-time{
                font-weight: 600;
                color: #aaa8a8;
            }
            
        }

        #payment{
            legend{
                text-transform: uppercase;
                font-size: 1.5rem;
            }

            h4{
                text-transform: uppercase;
                font-size: 1rem;
            }

            .payment-summary{
                text-align: center;
                border-top: 1px solid #ccc;

                #sum{
                    font-size: 2rem;
                    font-weight: 600;
                    margin: 1rem;
                }
            }
        }

        #terms{
            text-align: center;
            margin-bottom: 3rem;
        }
    }
    /*checkout.html slutter her*/
    

    


/*Media Queries for desktop fra 800px.*/
@media (min-width: 800px){

    /*Felles HTML struktur starter her*/
    body {
        margin: 0 auto; /* Midtstiller innholdet */
    }

    #global-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        padding: 0 1rem; 
        font-size: 1.1rem; 
    }
    
    #global-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 1.5rem; 

        ul{
            display: flex;
            flex-direction: row;
            margin-top: 3rem;
            gap: 1rem;

            li a:hover{
                text-decoration: underline;
            }
        }
    }
    
    
    #logo{
        font-size: 2.2rem;
        font-weight: 600;
        margin-top: 2rem;
    }
    
    #search-bar{
        margin-left: 10rem;
        flex-grow: 1;
        max-width: 250px;
    }
    
    #profile{
        display: flex;
        align-items: center;
        margin-right: 10rem;
        margin-top: 3rem;
    }
    
    #profile i{
        font-size: 1.1rem;
        margin-left: 0.3rem;
    }
    

    .hover-grow a:hover i{ /* Inspirasjon fra https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/*/
        transform: scale(1.5);
        transition: transform 0.5s ease;
    }

    #global-footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 2rem; 
        padding: 2rem; 
        margin: 3rem 10rem 3rem 10rem;

        #footer-logo {
            grid-column: 1 / 2; 
        }
    
        #contact {
            grid-column: 1 / 2; 
        }
    
        #shortcuts {
            grid-column: 2 / 3; 
        }
    
        #social-media {
            grid-column: 3 / 4;
            padding-left: 4rem;
        }
    
        #social-media ul li a{
            padding-right: 2.3rem !important;
        }
}

        /*Felles HTML struktur slutter her*/

        /*index.html starter her*/
        #banner-container {
            overflow-x: auto; 
            overflow-y: hidden;
            border-radius: 15px; 
            height: 700px;
            margin: 3rem 10rem 3rem 10rem;
            position: relative;

            /* .fa-arrow-left, .fa-arrow-right{
                position: absolute;
                top: 45%;
                padding: 13px;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 50%;
                cursor: pointer;
            }

            .fa-arrow-left{
                left: 10px;
                z-index: 1;
            }

            .fa-arrow-right{
                right: 20px;
                z-index: 1;
            } */
        }

    
        #banner {
            display: flex;
            flex-direction: row; 
            gap: 1rem;

            h2{
                top: 15% !important;
            }

            p{
                top: 50% !important;
            }

            button{
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    
        #banner article {
            display: block;
            min-width: 300px; 
            flex-shrink: 0;
        }
    
        #banner article picture img {
            width: 100%;
            height: 700px;
            border-radius: 15px; 
        }

        #banner2 h2{
            left: 5%;
            text-align: left !important;
        }

        #banner2 p{
            left: 5%;
            text-align: left !important;
        }

        #banner2 button{
            left: 5%;
            max-width: 94px !important;
            background-color: black !important;
            color: #ffff;
        }

        #banner3 h2{
            left: 5%;
            text-align: left !important;
            color: #ffff;
        }

        #banner3 p{
            left: 5%;
            text-align: left !important;
            color: #ffff;
        }

        #banner3 button{
            left: 5%;
            max-width: 94px !important;
        }

        #popular-products {
            display: block; 
            margin: 3rem 10rem 3rem 10rem;
            
            .product-container{
                display: flex;
                justify-content: center;
                flex-wrap: wrap; 
                gap: 1rem; 

                .product-card{
                    width: calc(32% - 1rem); 
                    margin-bottom: 2rem; 
                    margin-top: 3rem;
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    picture{
                        padding: 0;
                    }

                    button{
                        top: 6px;
                        right: 6px;
                    }

                    button:hover{
                        background-color: #c47675;
                    }
                }
            }
        }

        #popular-categories{
            grid-template-columns: repeat(3, 1fr); 
            grid-template-rows: auto auto auto auto auto; 
            gap: 1rem;
            /* margin: 0 1rem 0 1rem; */
            margin: 3rem 10rem 3rem 10rem;

            h2{
                grid-column: 1 / -1; 
            }
        
            p{
                grid-column: 1 / -1; 
            }
        
            article{
                width: 100%;
                height: 350px; 
                margin: 0;
            }
        
            #category3{
                grid-row: 3 / 7; 
                grid-column: 3 / 4; 
                height: 600px !important;
            }
        
            #category4{
                grid-row: 4 / 6; 
                grid-column: 1 / 3; 
                height: 550px !important;
            }
        
            #category5{
                grid-row: 5 / 6; 
                grid-column: 3 / 4; 
                height: 300px !important;
                margin-top: 3rem !important;
            }
        }

        #reviews{ 
            margin: 3rem 10rem 3rem 10rem;

            article{
            width: 350px;
        }
    }

        /*Index.html slutter her*/

        /*Product.html starter her*/        

        .breadcrumb{
            max-width: 80%;
            margin: 0 auto;
        }

        #product-sticky{
            display: flex;
            justify-content: space-between; 
            align-items: flex-start;
            max-width: 80%;
            margin: 0 auto;
            margin-bottom: 4rem;
        }
    
        #product-images{
            flex: 0 0 60%; 
            position: sticky;
            top: 2rem;
        }
    
        #product-info{
            flex: 0 0 40%;
        }

        #size-box{
            cursor: pointer;
        }
        #size-box:hover{
            outline: 2px solid #000000;
        }

        #shopping-cart:hover{
            background-color: rgba(128, 128, 128, 0.5);
        }

        #wishlist:hover i{
            color: transparent; 
            -webkit-text-stroke: 2px red; 
        }

        #similar-products{
            margin: 0 auto;
            max-width: 80%;

            .header-container{
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
            }

            .product-container-slider article{
                max-width: 20%;

                button:hover{
                    background-color: #c47675;
                }
            }
        }

        /*checkout.html starter her*/
        #return-index{
            margin-left: 11rem;
            margin-top: 2rem;
        }

        #shopping-bag{
            margin-left: 11rem;
            margin-right: 11rem;

        }

        .product-item{
            display: flex; 
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between; 
            border-bottom: none;
            gap: 1.5rem;
            margin: 2rem 7rem;

            h2{
                width: 100%;
                font-size: 1.7rem;
            }
        }
        
        .product-item-image{
            flex: 0 0 200px; 
            width: 100%;
            
            img{
                width: 200px;
                height: 250px;
                max-width: none;
                object-fit: cover;
            }
        }
        

        
        .product-checkout-info{
            flex: 1; 
            margin-right: 1.5rem; 

            h3{
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }

            p{
                margin: 0.5rem 0;
            }
        }
        
        .size, .quantity{
            width: auto;
            padding: 0.8rem;

        }
        
        .icon-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
            margin: 1rem;

            i{
                margin: 0.5rem 0;
                cursor: pointer;
            }
        }

        #customer-info{
            margin-left: 11rem;
            margin-right: 11rem;

            h3{
                margin-left: 7rem;
                font-size: 1.7rem;
            }

            fieldset{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: auto;
                gap: 1rem;
                margin-left: 7rem;
                margin-right: 7rem;
            }

            input{
                height: 50px;
            }
            
            /*Her brukte jeg ChatGPT 20.11.24 for å lære hvordan jeg kunne sette grid spesifikt på label og input. Koden er skrevet selv.*/

            label[for="fornavn"]{
                grid-column: 1; 
                grid-row: 1; 
            }
            
            input#fornavn{
                grid-column: 1; 
                grid-row: 2; 
            }
            
            label[for="etternavn"]{
                grid-column: 2; 
                grid-row: 1; 
            }
            
            input#etternavn{
                grid-column: 2; 
                grid-row: 2; 
            }
            
            label[for="gateadresse"]{
                grid-column: 1 / -1; 
                grid-row: 3; 
            }
            
            input#gateadresse{
                grid-column: 1 / -1; 
                grid-row: 4; 
            }
            
            label[for="postnummer"]{
                grid-column: 1; 
                grid-row: 5; 
            }
            
            input#postnummer{
                grid-column: 1; 
                grid-row: 6; 
            }
            
            label[for="poststed"]{
                grid-column: 2; 
                grid-row: 5; 
            }
            
            input#poststed{
                grid-column: 2; 
                grid-row: 6; 
            }

            label[for="epost"]{
                grid-column: 1 / -1; 
                grid-row: 1; 
            }
            
            input#epost{
                grid-column: 1 / -1; 
                grid-row: 2; 
            }

            label[for="telefon"]{
                grid-column: 1 / -1; 
                grid-row: 3; 
            }
            
            input#telefon{
                grid-column: 1 / -1; 
                grid-row: 4; 
            }
        }

        button[type="submit"]{
            
            margin-left: 7rem;
            margin-right: 7rem;
        }

        button[type="submit"]:hover{
            cursor: pointer;
        }

        #delivery{
            legend{
                margin-top: 2rem;
                font-weight: 600;
            }

            h4{
                margin-bottom: 0;
            }
            fieldset{
                display: flex;
                flex-direction: column;
            }

            .delivery-option{
                width: 90%;
            }

            input{
                height: auto;
            }
        }

        #payment{
            legend{
                margin-top: 2rem;
                font-weight: 600;
            }

            label[for="cardnumber"]{
                grid-column: 1 / -1; 
                grid-row: 2; 
            }
            
            input#cardnumber{
                grid-column: 1 / -1; 
                grid-row: 3; 
                margin-bottom: 0;
            }

            label[for="expiry-date"]{
                grid-column: 1 / 2; 
                grid-row: 4; 
            }
            
            input#expiry-date{
                grid-column: 1 / 2; 
                grid-row: 5; 
            }

            label[for="cvv"]{
                grid-column: 2 / 3; 
                grid-row: 4; 
            }
            
            input#cvv{
                grid-column: 2 / 3; 
                grid-row: 5; 
            }
        }

        .payment-summary{
            display: flex;
            flex-direction: column;
        }

        #terms{
            margin-left: 7rem;
            margin-right: 7rem;

            label{
                margin: 0.5rem;
            }

            input{
                height: auto;
            }
        }
}



/*Media Queries Tablet (popular-categories)*/
@media (min-width: 600px) and (max-width: 799px){

    #popular-categories{
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: auto auto auto auto auto; 
        gap: 1rem;
        margin: 0 1rem 0 1rem;

        h2{
            grid-column: 1 / -1; 
        }
    
        p{
            grid-column: 1 / -1; 
        }
    
        article{
            width: 100%;
            height: 350px; 
            margin: 0;
        }
    
        #category3{
            grid-row: 3 / 7; 
            grid-column: 3 / 4; 
        }
    
        #category4{
            grid-row: 4 / 6; 
            grid-column: 1 / 4; 
            height: 200px !important;
        }
    
        #category5{
            grid-row: 6 / 7; 
            grid-column: 1 / 4; 
            height: 200px !important;
        }
    }
}





